body {
  background-image: url(./images/green-bg.png);
}

.opponentHand,
.playerHand {
  min-height: 200px;
}

.tableWrapper {
  display: flex;
  justify-content: space-between;
  min-height: 200px;  
}
.discard,
.table,
.deck {}